@media (max-width:1250px){
    .pics1, .pics5{ 
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: auto;
    gap: 0;
    box-sizing: border-box;
    margin-left: 7vw;
    grid-auto-flow: column;
    width: fit-content;
    }
    .pics1-img {
        width: 100%;
        height: 100%;
    }
    .pics5-img{
        width: 100%;
        height: 100%;
    }
    
}
@media(max-width:1150px){
    .navbar{
        display: none;
    }
    .search{
        width: 50%;
        height: 8vh;
    }
    .box{
        width: 100%;
        height: 85%;
    }
    .logo{
        padding: 0;
        margin-left: 5vw;
    }
    .hambgr{
        display: block;
        margin-right: 5%;
        /* padding: 2%; */
    }
    .hamburger{
        top:12%;
        right: 0;
        display: block;
        color: black;
    }
    .user-img{
        margin: 0 2vw;
    }
    .img-info{
        margin: 0 0.8vw;
    }
}

@media(max-width:850px){
    .pics2 , .pics3{
        grid-template-columns: repeat(4 ,1fr);
        grid-template-rows: repeat(4 ,1fr);
        gap: 0;
        box-sizing: border-box;
        grid-auto-flow: column;
        /* margin-left: 6.5vw; */
        height: fit-content;
        width: fit-content;
    }
    .pics2-img , .pics3-img{
        width: 100%;
        height: 100%;
    }

    .pics6,.pics4{
        display: grid;
        grid-template-columns: repeat(4 ,1fr);
        grid-template-rows: repeat(2 ,1fr);
        gap: 0;
        box-sizing: border-box;
        grid-auto-flow: column;
        margin-left: 6.5vw;
        height: fit-content;
        width: fit-content;
    }
    .pics6-img,.pics4-img{
        width: 100%;
        height: 100%;
    }

    .search{
        width: 60%;
        height: 50%;
    }
    .box{
        width: 100%;
        height: 85%;
    }
    .burger{
        height: 80%;
        width: 80%;
    }
    .carousel{
        height: 35vh;
    }
    .slides{
        height: 100%;
        width: 100%;
    }
/* }

@media(max-width:750px){ */
    .user{
        display: none;
    }
    
    header{
        width: 100%;
        height: 8rem;
        background-color: pink;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        top: 17%;
        background-color: pink;
        color: black;
        font-weight: bold;
        width: 23%;
        height: 100%;
        align-items: center;
        
        right: 0;
    }
    .user-information{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 5%; */
        height: 15%;
        width: 50%;
    }
    .onlineShop1{
        display: none;
    }

    .user-img{
        height: 100%;
        width: 60%;
    }
    .img-info{
        height: 15%;
    }

}

@media(max-width:600px){
    .pics1,.pics5,.pics6,.pics4{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4 ,1fr);
        gap: 0;
        box-sizing: border-box;
        grid-auto-flow: column;
        margin-left: 0%;
        height: fit-content;
        width: 100%;
    }
    header{
        width: 100%;
        height: 8rem;
        background-color: pink;
    }
    .pics1-img,.pics5-img,.pics6-img,.pics4-img{
        height: 100%;
        width: 100%;
    }

    .pics2,.pics3{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8 ,1fr);
        gap: 0;
        box-sizing: border-box;
        grid-auto-flow: column;
        /* margin-left: 6%; */
        /* height: fit-content; */
        width: 100%;
    }

    .pics2-img,.pics3-img{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .onlineShop1{
        display: none;
    }

    .carousel{
        height: 25vh;
    }

    .slides{
        width: 100%;
        height: 100%;
    }
    .foot{
        width: 100%;
    }
    footer{
        flex-direction: column;
        width: fit-content;
    }
    .footpic{
        display: none;
    }
}


